{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'critiques/css/abonnements.css' %}">
{% endblock %}

{% block content %}

<body>

    <section>
        <h2>Suivre d'autres utilisateurs</h2>

        <form class="search" method="post">
            {% csrf_token %}
            <div class="input-container">
                {{ form.username }}
            </div>
            <div class="button-container">
                <button type="submit" id="search_user">Envoyer</button>
            </div>
        </form>


        {% if message %}
        <p class="error">{{ message }}</p>
        {% endif %}
    </section>


    <section>
        <h2>Abonnements</h2>
        {% if abonnements %}
        {% for follow in abonnements %}
        <div class="followed">
            {{ follow.followed_user.username }}

            <!-- Formulaire de désabonnement pour cet utilisateur -->
            <form method="post" action="{% url 'unsubscribe' %}" class="unfollow-form">
                {% csrf_token %}
                <!-- Cet input caché contiendra l'ID de l'utilisateur à désabonner -->
                <input type="hidden" name="user_to_unfollow_id" value="{{ follow.followed_user.id }}">
                <button type="submit">Se désabonner</button>
            </form>
        </div>

        {% endfor %}

        {% else %}
        <p>Vous n'êtes abonné à aucun utilisateur pour le moment.</p>
        {% endif %}
    </section>


    <section>
        <h2>Abonnés</h2>
        {% if abonnes %}

        {% for follow in abonnes %}

        <div class="followers">
            {{ follow.user.username }}
            {% endfor %}
        </div>
        {% else %}
        <p>Personne ne vous suit pour le moment.</p>
        {% endif %}
    </section>


</body>

{% endblock %}