{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'critiques/css/base.css' %}">
    {% block additional_css %}{% endblock %}
</head>

<body>


    <div class="header">

        <div class="titre">
            <h2>LITReview</h2>
        </div>

        <div class="navbar">

            <a href="">Flux</a>
            <a href="">Posts</a>
            <a href="{% url 'abonnements' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se deconnecter</a>
        </div>
    </div>

    {% block content %}{% endblock %}

</body>

</html>