{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'critiques/css/flux.css' %}">
{% endblock %}

{% block content %}



    <div class="pb-3 welcome">
        <h1>Bienvenue {{user.username}}</h1>
    </div>

    <div class="buttons_container">
        <a href="{% url 'ticket' %}" class="btn">Demander une critique</a>
        <a href="{% url 'critics' %}" class="btn">Créer une critique</a>
    </div>

    <div class="container feed">
        {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'review_snippet.html' %}
        {% endif %}
    {% endfor %} 
    
    </div>
{% endblock %}
