<!-- review_snippet.html -->

<strong>Titre :</strong> {{ post.headline }}<br>
{{ post.time_created }}<br>
<strong>Note :</strong> {{ post.rating }}<br>
{{ post.body }}<br>

<div class="py-2" style="border:solid 1px black">
    <p>Cette review vient en réponse au ticket</p><br>
    {{ post.ticket.title }}<br>
    {{ post.ticket.description }}<br>
    {% if post.ticket.image %}
    <img src="{{ post.ticket.image.url }}" alt="image du ticket" width="200px">
    {% endif %}

</div>
{% if post.user == request.user %}
        <br>
        <button><a href="{% url 'edit_review' post.id %}">Modifier</a></button>
        <button>Supprimer</button>
    

    {% endif %}

<hr>
