{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'critiques/css/ticket.css' %}">
{% endblock %}

{% block content %}

<body>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Titre</h3><br>
        {{ form.title }}<br>

        <h3>Description</h3><br>
        {{ form.description }}<br>

        <h3>Image</h3><br>
        {{ form.image }}<br>
        <div class="btn">
            <button type="submit">Envoyer</button>
        </div>
    </form>

</body>

{% endblock %}