section{padding-top: 70px;}

h2, p{text-align: center;}

.search {
    display: flex;              
    justify-content: center;   
    align-items: center;       
    gap: 10px;                 
}

.input-container,
.button-container {
    display: flex;             
    align-items: center;     
}

#search_user, 
.input-container input{
    height: auto;               
    padding: 10px 15px;       
    margin: 0;                
    border: 1px solid black;   
    box-sizing: border-box;   
}

#search_user {
    cursor: pointer;          
}

.followed, .followers{
    display: flex;            
    align-items: center;       
    justify-content: center; 
    gap : 100px;
    margin-bottom: 10px;       
}

.unfollow-form {
    margin-left: 20px;     
}