a {
    text-decoration: none; 
    color: inherit;       
    background: none;     
    border: none;          
    padding: 0;         
    margin: 0;             
    outline: none;        
    font-size: 100%;       
    font-weight: inherit;  
    cursor: pointer;      
}

.header{display: flex;
    justify-content: center;
    }

.hero_banner{display: flex;
    justify-content: center;}

.hero_banner div{width: 50%;
    padding:20px;
    text-align: center;
    padding-top: 20vh;
}